In [1]:
from os import path
from glob import glob
import json
import pandas as pd

In [2]:
# Output
# archive_id (to join internet archive), video_id, channel, show, people, year, date, screen time

In [3]:
video_meta = pd.read_csv('videos.csv.gzip', nrows=10)
video_meta.columns

Index(['id', 'date', 'channel', 'show', 'name', 'width', 'height', 'fps',
       'num_frames'],
      dtype='object')

In [4]:
video_meta = pd.read_csv('videos.csv.gzip', usecols=['id', 'date', 'channel', 'show', 'name'])
video_meta

,id,date,channel,show,name
0,79647,2014-02-16,CNN,State of the Union,CNNW_20140216_170000_State_of_the_Union_With_C...
1,79648,2014-02-16,CNN,Fareed Zakaria GPS,CNNW_20140216_180000_Fareed_Zakaria_GPS
2,79649,2014-02-16,CNN,CNN Newsroom,CNNW_20140216_190000_CNN_Newsroom
3,79650,2014-02-16,CNN,CNN Newsroom,CNNW_20140216_200000_CNN_Newsroom
4,79651,2014-02-16,CNN,CNN Newsroom,CNNW_20140216_210000_CNN_Newsroom
...,...,...,...,...,...
334420,141261,2018-07-25,FOXNEWS,Fox News Night,FOXNEWSW_20180725_070000_Fox_News__Night_With_...
334421,141262,2018-07-25,FOXNEWS,FOX and Friends First,FOXNEWSW_20180725_080000_Fox_and_Friends_First
334422,141263,2018-07-25,FOXNEWS,FOX and Friends First,FOXNEWSW_20180725_090000_Fox_and_Friends_First
334423,141264,2018-07-25,FOXNEWS,FOX and Friends,FOXNEWSW_20180725_100000_FOX__Friends
334424,141265,2018-07-25,FOXNEWS,Americas Newsroom,FOXNEWSW_20180725_130000_Americas_Newsroom_Wit...

In [5]:
# rename colunms
video_meta.columns = ['video_id', 'date', 'channel', 'show', 'archive_id']

In [6]:
video_meta

,video_id,date,channel,show,archive_id
0,79647,2014-02-16,CNN,State of the Union,CNNW_20140216_170000_State_of_the_Union_With_C...
1,79648,2014-02-16,CNN,Fareed Zakaria GPS,CNNW_20140216_180000_Fareed_Zakaria_GPS
2,79649,2014-02-16,CNN,CNN Newsroom,CNNW_20140216_190000_CNN_Newsroom
3,79650,2014-02-16,CNN,CNN Newsroom,CNNW_20140216_200000_CNN_Newsroom
4,79651,2014-02-16,CNN,CNN Newsroom,CNNW_20140216_210000_CNN_Newsroom
...,...,...,...,...,...
334420,141261,2018-07-25,FOXNEWS,Fox News Night,FOXNEWSW_20180725_070000_Fox_News__Night_With_...
334421,141262,2018-07-25,FOXNEWS,FOX and Friends First,FOXNEWSW_20180725_080000_Fox_and_Friends_First
334422,141263,2018-07-25,FOXNEWS,FOX and Friends First,FOXNEWSW_20180725_090000_Fox_and_Friends_First
334423,141264,2018-07-25,FOXNEWS,FOX and Friends,FOXNEWSW_20180725_100000_FOX__Friends
334424,141265,2018-07-25,FOXNEWS,Americas Newsroom,FOXNEWSW_20180725_130000_Americas_Newsroom_Wit...

In [7]:
people_screentime = []
for i, fn in enumerate(sorted(glob('json/screentime/*.json'))):
    name = path.basename(fn).replace('.json', '')
    with open(fn, "r") as json_file:
        data = json.load(json_file)
    for k in data:
        for v in data[k]:
            people_screentime.append({'people': name, 'year': k, 'video_id': v[0], 'screentime': v[1]})
    if i % 10 == 0:
        print(i, fn, len(people_screentime))
    #break

0 json/screentime/14th dalai lama.json 428
10 json/screentime/adam carolla.json 18596
20 json/screentime/al franken.json 66705
30 json/screentime/alberto gonzales.json 114737
40 json/screentime/alex wagner.json 144591
50 json/screentime/allan lichtman.json 194207
60 json/screentime/amy holmes.json 207846
70 json/screentime/anderson cooper.json 269307
80 json/screentime/andrew levy.json 311801
90 json/screentime/andy cohen.json 330895
100 json/screentime/anita decker breckenridge.json 396740
110 json/screentime/anne thompson.json 420599
120 json/screentime/anthony weiner.json 456095
130 json/screentime/arianna huffington.json 492946
140 json/screentime/asa hutchinson.json 511481
150 json/screentime/avik roy.json 537785
160 json/screentime/barbara walters.json 677042
170 json/screentime/ben cardin.json 698415
180 json/screentime/benjamin netanyahu.json 734876
190 json/screentime/beto orourke.json 789993
200 json/screentime/bill cassidy.json 811620
210 json/screentime/bill nighy.json 893170
220 json/screentime/bo dietl.json 922017
230 json/screentime/bob rae.json 968081
240 json/screentime/brad wenstrup.json 995295
250 json/screentime/brian fitzpatrick.json 1042035
260 json/screentime/brit hume.json 1097099
270 json/screentime/byron york.json 1124679
280 json/screentime/carlo calenda.json 1143258
290 json/screentime/casey stegall.json 1170273
300 json/screentime/cenk uygur.json 1203850
310 json/screentime/charles rangel.json 1237816
320 json/screentime/chris berman.json 1261940
330 json/screentime/chris matthews.json 1375154
340 json/screentime/christian karembeu.json 1411857
350 json/screentime/christopher michael cillizza.json 1444033
360 json/screentime/cindy mccain.json 1499233
370 json/screentime/colin allred.json 1523806
380 json/screentime/cory booker.json 1551161
390 json/screentime/dakore akande.json 1580354
400 json/screentime/dan senor.json 1601569
410 json/screentime/daniel samper ospina.json 1651890
420 json/screentime/dave rubin.json 1668665
430 json/screentime/david chalian.json 1690814
440 json/screentime/david h mccormick.json 1714455
450 json/screentime/david portnoy.json 1732027
460 json/screentime/dean obeidallah.json 1741191
470 json/screentime/denis mcdonough.json 1760025
480 json/screentime/devon weigel.json 1780330
490 json/screentime/dolph ziggler.json 1803697
500 json/screentime/donald trump.json 2026299
510 json/screentime/drew griffin.json 2049736
520 json/screentime/ed jovanovski.json 2076615
530 json/screentime/elaine chao.json 2101642
540 json/screentime/elisabeth hasselbeck.json 2128458
550 json/screentime/ellen ratner.json 2174497
560 json/screentime/eric adams.json 2199365
570 json/screentime/eric shawn.json 2238327
580 json/screentime/erin coscarelli.json 2279788
590 json/screentime/evan mcmullin.json 2301684
600 json/screentime/faith jenkins.json 2312737
610 json/screentime/francis collins.json 2339379
620 json/screentime/franklin graham.json 2352235
630 json/screentime/garry kasparov.json 2373411
640 json/screentime/gavin newsom.json 2394951
650 json/screentime/george will.json 2445945
660 json/screentime/gina mccarthy.json 2468644
670 json/screentime/gonzalo rubalcaba.json 2493688
680 json/screentime/greta van susteren.json 2542091
690 json/screentime/hallie jackson.json 2590144
700 json/screentime/harry reid.json 2666691
710 json/screentime/hella joof.json 2689138
720 json/screentime/hilary rosen.json 2712342
730 json/screentime/hugh hewitt.json 2788430
740 json/screentime/ingrid van bergen.json 2803790
750 json/screentime/jack cafferty.json 2828485
760 json/screentime/jada pinkett smith.json 2845565
770 json/screentime/james clapper.json 2885962
780 json/screentime/james r clapper.json 2918272
790 json/screentime/jan brewer.json 2941580
800 json/screentime/jared polis.json 2969746
810 json/screentime/jay leno.json 3001645
820 json/screentime/jeb hensarling.json 3045953
830 json/screentime/jeff merkley.json 3065183
840 json/screentime/jelani cobb.json 3096392
850 json/screentime/jens stoltenberg.json 3132648
860 json/screentime/jes macallan.json 3172601
870 json/screentime/jillian michaels.json 3213745
880 json/screentime/jim maceda.json 3252044
890 json/screentime/jimmy carter.json 3277471
900 json/screentime/joe biden.json 3408464
910 json/screentime/joe sestak.json 3450982
920 json/screentime/john dean.json 3520750
930 json/screentime/john heilemann.json 3551219
940 json/screentime/john mica.json 3626798
950 json/screentime/john rich.json 3656763
960 json/screentime/john zarrella.json 3689075
970 json/screentime/jon scott.json 3715259
980 json/screentime/jonathan nolan.json 3741643
990 json/screentime/joseph s lacob.json 3763862
1000 json/screentime/joy behar.json 3790080
1010 json/screentime/juju chang.json 3822430
1020 json/screentime/juliette kayyem.json 3843408
1030 json/screentime/kaley cuoco.json 3864452
1040 json/screentime/karl-heinz feldkamp.json 3926980
1050 json/screentime/katherine timpf.json 3964007
1060 json/screentime/katrin gÃ¶ring-eckardt.json 3987348
1070 json/screentime/kayleigh mcenany.json 4012730
1080 json/screentime/kelsey grammer.json 4051213
1090 json/screentime/kerry sanders.json 4066798
1100 json/screentime/kevin rahm.json 4110318
1110 json/screentime/kiran chetry.json 4152259
1120 json/screentime/kristie lu stout.json 4187949
1130 json/screentime/lara logan.json 4209969
1140 json/screentime/laura bush.json 4231005
1150 json/screentime/lebron james.json 4275181
1160 json/screentime/letitia james.json 4303825
1170 json/screentime/lisa monaco.json 4350322
1180 json/screentime/loretta lynch.json 4372858
1190 json/screentime/lynn smith.json 4397465
1200 json/screentime/mahmoud ahmadinejad.json 4407962
1210 json/screentime/marco rubio.json 4440212
1220 json/screentime/maria timmer.json 4465143
1230 json/screentime/marisa tomei.json 4491961
1240 json/screentime/mark mckinnon.json 4512237
1250 json/screentime/mark victor hansen.json 4535804
1260 json/screentime/martin bashir.json 4579796
1270 json/screentime/mary kissel.json 4597044
1280 json/screentime/matthew dowd.json 4618069
1290 json/screentime/mazie hirono.json 4640780
1300 json/screentime/melinda doolittle.json 4679445
1310 json/screentime/michael beschloss.json 4705828
1320 json/screentime/michael holmes.json 4736444
1330 json/screentime/michael nutter.json 4752049
1340 json/screentime/michael weatherly.json 4783141
1350 json/screentime/michiel veenstra.json 4811656
1360 json/screentime/mike emanuel.json 4859926
1370 json/screentime/mike pompeo.json 4935881
1380 json/screentime/miranda devine.json 4950477
1390 json/screentime/mollie hemingway.json 5043069
1400 json/screentime/mozhan marnÃ².json 5064521
1410 json/screentime/natalie horler.json 5127022
1420 json/screentime/niall ferguson.json 5177669
1430 json/screentime/nikki haley.json 5226163
1440 json/screentime/norm eisen.json 5240569
1450 json/screentime/orrin hatch.json 5268432
1460 json/screentime/pat mccrory.json 5294190
1470 json/screentime/patty murray.json 5315195
1480 json/screentime/paul shaffer.json 5360903
1490 json/screentime/pete buttigieg.json 5391491
1500 json/screentime/peter navarro.json 5426135
1510 json/screentime/phil robertson.json 5444853
1520 json/screentime/prince harry duke of sussex.json 5479522
1530 json/screentime/radu beligan.json 5521588
1540 json/screentime/randi kaye.json 5556434
1550 json/screentime/rebecca traister.json 5573410
1560 json/screentime/ricardo oliveira.json 5601927
1570 json/screentime/richard grenell.json 5631905
1580 json/screentime/rick kittles.json 5651560
1590 json/screentime/rini soemarno.json 5689011
1600 json/screentime/robby mook.json 5703684
1610 json/screentime/robert menendez.json 5725283
1620 json/screentime/roger stone.json 5763380
1630 json/screentime/ron mott.json 5801502
1640 json/screentime/rosie perez.json 5831721
1650 json/screentime/rula jebreal.json 5872723
1660 json/screentime/ryan stout.json 5895204
1670 json/screentime/sam nunn.json 5912980
1680 json/screentime/sara ganim.json 5947062
1690 json/screentime/scott pruitt.json 5987376
1700 json/screentime/sebastian gorka.json 6045544
1710 json/screentime/sharon doorson.json 6083361
1720 json/screentime/sherrilyn ifill.json 6107852
1730 json/screentime/simon pagenaud.json 6122258
1740 json/screentime/stacey plaskett.json 6141055
1750 json/screentime/stephanie rawlings-blake.json 6167508
1760 json/screentime/stephen miller.json 6207531
1770 json/screentime/steve hilton.json 6238742
1780 json/screentime/stuart stevens.json 6275420
1790 json/screentime/susana dÃ­az.json 6305593
1800 json/screentime/tamara holder.json 6320471
1810 json/screentime/taylor swift.json 6339669
1820 json/screentime/terry schappert.json 6384578
1830 json/screentime/thorsten flinck.json 6413168
1840 json/screentime/tim wise.json 6442700
1850 json/screentime/todd starnes.json 6453583
1860 json/screentime/tom foreman.json 6480057
1870 json/screentime/tom russell.json 6498712
1880 json/screentime/tony blinken.json 6521144
1890 json/screentime/trent franks.json 6531200
1900 json/screentime/vadim gluzman.json 6572388
1910 json/screentime/victor davis hanson.json 6593492
1920 json/screentime/wael kfoury.json 6647200
1930 json/screentime/wendy raquel robinson.json 6667391
1940 json/screentime/william bratton.json 6690459
1950 json/screentime/william shatner.json 6707807
1960 json/screentime/yair lapid.json 6768848
1970 json/screentime/zbigniew brzezinski.json 6781775

In [8]:
df = pd.DataFrame(people_screentime)
df

                  people        year  video_id  screentime
0        14th dalai lama  2010-01-01     92673       3.000
1        14th dalai lama  2010-01-01     92986      12.009
2        14th dalai lama  2010-01-01     93001      30.021
3        14th dalai lama  2010-01-01     93047       6.003
4        14th dalai lama  2010-01-01     93049       6.003
...                  ...         ...       ...         ...
6789953  Ã­ris stefanelli  2024-01-01    377381       1.000
6789954  Ã­ris stefanelli  2024-01-01    383513       1.000
6789955  Ã­ris stefanelli  2024-01-01    389390       1.000
6789956  Ã­ris stefanelli  2024-01-01    389451       1.000
6789957  Ã­ris stefanelli  2024-01-01    392011       1.000

[6789958 rows x 4 columns]

In [9]:
mdf = df.merge(video_meta)
mdf

,people,year,video_id,screentime,date,channel,show,archive_id
0,14th dalai lama,2010-01-01,92673,3.000,2010-01-24,CNN,Larry King Live,CNN_20100124_050000_Larry_King_Live
1,anderson cooper,2010-01-01,92673,165.129,2010-01-24,CNN,Larry King Live,CNN_20100124_050000_Larry_King_Live
2,bill neely,2010-01-01,92673,3.000,2010-01-24,CNN,Larry King Live,CNN_20100124_050000_Larry_King_Live
3,gary tuchman,2010-01-01,92673,21.012,2010-01-24,CNN,Larry King Live,CNN_20100124_050000_Larry_King_Live
4,larry king,2010-01-01,92673,75.054,2010-01-24,CNN,Larry King Live,CNN_20100124_050000_Larry_King_Live
...,...,...,...,...,...,...,...,...
6789939,zoraida sambolin,2012-01-01,105133,30.024,2012-03-01,CNN,CNN Newsroom,CNN_20120301_180000_CNN_Newsroom
6789940,zoraida sambolin,2015-01-01,47355,1.732,2015-03-22,MSNBC,Your Business,MSNBCW_20150322_093000_Your_Business
6789941,zoraida sambolin,2015-01-01,245550,3.000,2015-03-08,MSNBC,Lockup,MSNBCW_20150308_050000_Lockup
6789942,zoraida sambolin,2015-01-01,246424,3.000,2015-08-16,MSNBC,Lockup,MSNBCW_20150816_090000_Lockup_Savannah_Extende...
6789943,zoraida sambolin,2015-01-01,246562,6.000,2015-09-12,MSNBC,Lockup,MSNBCW_20150913_030000_Lockup_Indiana---Extend...

In [10]:
mdf.to_csv('people_screentime.csv.gz', compression='gzip', index=False)

In [11]:
gdf = mdf.groupby(['people', 'year']).agg({'screentime': 'sum'}).reset_index()
gdf

                people        year  screentime
0      14th dalai lama  2010-01-01    4584.962
1      14th dalai lama  2011-01-01     657.786
2      14th dalai lama  2012-01-01   24678.872
3      14th dalai lama  2013-01-01     887.170
4      14th dalai lama  2014-01-01     333.138
...                ...         ...         ...
27626  Ã­ris stefanelli  2019-01-01    4944.646
27627  Ã­ris stefanelli  2020-01-01   17430.618
27628  Ã­ris stefanelli  2021-01-01   16767.096
27629  Ã­ris stefanelli  2022-01-01       3.000
27630  Ã­ris stefanelli  2024-01-01       5.000

[27631 rows x 3 columns]

In [12]:
gdf['screentime_minutes'] = gdf.screentime / 60.0

In [13]:
gdf[gdf.people == 'donald trump']

            people        year   screentime  screentime_minutes
6988  donald trump  2010-01-01    43804.438          730.073967
6989  donald trump  2011-01-01   157517.849         2625.297483
6990  donald trump  2012-01-01    71781.804         1196.363400
6991  donald trump  2013-01-01    60824.068         1013.734467
6992  donald trump  2014-01-01    55552.495          925.874917
6993  donald trump  2015-01-01   977731.520        16295.525333
6994  donald trump  2016-01-01  2984761.476        49746.024600
6995  donald trump  2017-01-01  2365378.772        39422.979533
6996  donald trump  2018-01-01  2460096.860        41001.614333
6997  donald trump  2019-01-01  2405371.586        40089.526433
6998  donald trump  2020-01-01  2405416.375        40090.272917
6999  donald trump  2021-01-01   451578.974         7526.316233
7000  donald trump  2022-01-01   649185.184        10819.753067
7001  donald trump  2023-01-01  1257546.231        20959.103850
7002  donald trump  2024-01-01  2251148.045        37519.134083